.post-header {
  min-height: 20vh;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  margin-top: 116px;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  color: $gray-100;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: $gray-900;
    opacity: 0.5;
  }

  @media (min-width: 420px) {
    margin-top: 78px;
  }

  @media (min-width: 991px) {
    min-height: 35vh;
    margin-top: 112px;
  }

  .wrapper {
    flex: 1;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: relative;
    margin: 0 auto;
    z-index: 2;

    @media (min-width: 1200px) {
      width: 50%;
      max-width: 980px;
    }
  }

  &__author {
    opacity: 0.7;

    .author-name,
    .date {
      color: $primary;
    }
  }

  &__category {
    margin-top: auto;

    .category-label {
      display: inline-block;
      margin-right: 0.5rem;
    }

    .category-item {
      color: $primary;
    }
  }
}

.post-content {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10rem;

  @media (min-width: 1200px) {
    width: 50%;
    max-width: 980px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3rem;
  }

  img {
    width: 50%;
    margin: 0 auto;
  }
}


.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #d0d0d0;
}
.highlight .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #888;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}