// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
    text-decoration: none;
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $black;
  text-shadow: none;
}

::selection {
  background: $black;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}


/* --- Code blocks --- */

pre {
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  padding: 0.59375rem;
}

.highlight pre {
  border: none;
  background: none;
  margin: 0;
}
.highlight > pre {
  background-image: linear-gradient(
    rgba(0,0,0,0.06), rgba(0,0,0,0.06) 1.5em, rgba(0,0,0,0.03) 1.5em, rgba(0,0,0,0.03) 3em);
  background-size: auto 3em;
  background-position-y: 0.625rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-left: 0.4375rem solid #444;
}
.highlight > pre:not([class~="highlight"]) { /* code block with line number */
  padding: 0;
}
.highlight table, .highlight tr, .highlight td { /* to be removed after fixing table styles */
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
.highlight pre.lineno {
  color: rgba(0,0,0,0.3);
  border-radius: 0;
  border-right: 2px solid #444;
}

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.lineno {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lineno::selection, .lineno::-moz-selection {
  background: none;
}
